<!doctype html>
<html>
<head>
<meta charset="utf-8">
  <title>首页_大大博客 - 一个走在前端之路的个人博客网站</title>
  <meta name="keywords" content="个人博客,大大个人博客,前端,前端博客" />
  <meta name="description" content="大大博客，是一个一个走在前端之路的个人博客网站，提供前端最新技术！" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/base.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/m.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico">
<script src="js/jquery-2.1.1.min.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
</head>
<body>
<header>
  <div class="tophead">
    <div class="logo"><a href="/">大大博客</a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="index.html">网站首页</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="list.html">学无止境</a></li>
        <li><a href="info.html">个人技术栈</a></li>
        <li><a href="gbook.html">留言</a></li>
      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li><a href="index.html">网站首页</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="list.html">学无止境</a></li>
        <li><a href="info.html">个人技术栈</a></li>
        <li><a href="gbook.html">留言</a></li>
        <li class="text" style="cursor:pointer;" onclick="textclick()">点我开启文字特效</li>
      </ul>
    </nav>
  </div>
</header>
<article>
  <h1 class="t_nav"><span>您现在的位置是：首页 > 个人技术栈 > 个人技术栈</span><a href="/index.html" class="n1">网站首页</a><a href="/info.html" class="n2">个人技术栈</a></h1>
  <div class="infos">
    <div class="newsview">
      <h3 class="news_title">个人博客，个人技术栈，属于我的小世界！</h3>
      <div class="news_author"><span class="au01"><a href="mailto:1786764838@qq.com">大大</a></span><span class="au02">2018-11-09</span><span class="au03">共<b>1000</b>人围观</span></div>
      <div class="tags"><a href="/e/tags/?tagname=%B8%F6%C8%CB%B2%A9%BF%CD&amp;tempid=13" target="_blank">个人博客</a> &nbsp; <a href="/e/tags/?tagname=%D0%A1%CA%C0%BD%E7&amp;tempid=13" target="_blank">小世界</a></div>
      <div class="news_about"><strong>简介</strong>个人技术栈，开发个人技术栈浅谈</div>
      <div class="news_infos">
        <iframe src="/jishu/index.html" width="770" frameborder="0" scrolling="no" height="500"></iframe>
        &nbsp; </div>
    </div>
    <div class="share"> </div>
    <div class="nextinfo">
      <p>上一篇：<a href="/list.html">学无止境</a></p>
      <p>下一篇：<a href="/list.html">返回列表</a></p>
    </div>
    <div class="otherlink">
      <h2>相关文章</h2>
      <ul>
        <li><a href="page?id=5be3e34eba8c6655af56ab1b" title="js中为什么你不敢用 “==”">js中为什么你不敢用 “==”</a></li>


        <li><a href="page?id=5be3e28dba8c6655af56ab1a" title="前端优化之图片优化自动化">前端优化之图片优化自动化</a></li>


        <li><a href="page?id=5be3e217ba8c6655af56ab19" title="Nodejs爬虫实践">Nodejs爬虫实践</a></li>


        <li><a href="page?id=5be3e1a9ba8c6655af56ab18" title="再来一条贪吃蛇">再来一条贪吃蛇</a></li>


        <li><a href="page?id=5be3e13fba8c6655af56ab16" title="混合应用页面打开速度优化">混合应用页面打开速度优化</a></li>


        <li><a href="page?id=5be3e115ba8c6655af56ab15" title="纯前端实现人脸识别-提取-合成">纯前端实现人脸识别-提取-合成</a></li>


        <li><a href="page?id=5be3dffaba8c6655af56ab14" title="全面解析Ping完美应用">全面解析Ping完美应用</a></li>


        <li><a href="page?id=5be3df71ba8c6655af56ab13" title="xargs命令的详解">xargs命令的详解</a></li>


        <li><a href="page?id=5be3decfba8c6655af56ab12" title="小程序时代，不做小程序就是在等死！">小程序时代，不做小程序就是在等死！</a></li>


        <li><a href="page?id=5be3dae27551bc4f0bf4f798" title="app.get()和app.post()">app.get()和app.post()</a></li>
      </ul>
    </div>

  </div>
  <div class="sidebar">
    <div class="search">
      <!--<form action="/e/search/index.php" method="post" name="searchform" id="searchform">-->
        <!--<input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">-->
        <!--<input name="show" value="title" type="hidden">-->
        <!--<input name="tempid" value="1" type="hidden">-->
        <!--<input name="tbname" value="news" type="hidden">-->
        <!--<input name="Submit" class="input_submit" value="搜索" type="submit">-->
      <!--</form>-->
    </div>
    <div class="lmnav">
      <h2 class="hometitle">栏目导航</h2>
      <ul class="navbor">
        <li><a href="#">关于我</a></li>
        <li><a href="list.html">学无止境</a>
          <ul>
            <%for(var e in classtitle){%>
            <%if(classtitle[e].title.indexOf("专用") > 0 ){%>

            <%}else{%>
            <li><a href="/class?id=<%=classtitle[e]._id%>"><%=classtitle[e].title%></a></li>
            <%}%>

            <%}%>
            <li><a href="/class?id=5be3e34eba8c6655af56ab1b%>">专题</a></li>
          </ul>
        </li>
        <li><a href="#">慢生活</a></li>
      </ul>
    </div>

    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <%for(var t in biaoqian){%>
        <a href="/"><%=biaoqian[t].title%></a>
        <%}%>
      </ul>
    </div>

  </div>
</article>
<footer>
  <p>Design by <a href="/">大大博客</a> <a href="/"></a></p>
</footer>
<script src="js/nav.js"></script> 
<script type="text/javascript">
jQuery.noConflict();
jQuery(function() { 
    var elm = jQuery('#left_flow2'); 
    var startPos = jQuery(elm).offset().top; 
    jQuery.event.add(window, "scroll", function() { 
        var p = jQuery(window).scrollTop(); 
        jQuery(elm).css('position',((p) > startPos) ? 'fixed' : ''); 

        jQuery(elm).css('top',((p) > startPos) ? '0' : '');
    }); 
}); 
</script>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery.moatext-min.js"></script>
<script type="text/javascript" src="js/text.js"></script>

<script src="js/nav.js"></script>
</body>
</html>
